<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贝店</title>
    <style type="text/css">
        .download-button {
            font-size: 14px;
            border-radius: 3px;
            color: white;
            width: 100%;
            background: #0084ff;
            margin-top: 50px;
            height: 36px;
            border: none;
         }
    </style>
</head>
<body>
<div style="margin: 0 auto;width: 50%">
    <button class="download-button" onclick="window.open('/download')">下载</button>
</div>
<div style="margin: 0 auto;width: 50%">
    <button class="download-button" onclick="window.location.href='/pause'">暂停</button>
</div>
<div style="margin: 0 auto;width: 50%">
    <button class="download-button" onclick="window.location.href='/resume'">恢复</button>
</div>
</body>
</html>