<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>停止</title>
    <style type="text/css">
        .download-button {
            font-size: 14px;
            border-radius: 3px;
            color: white;
            width: 100%;
            background: #0084ff;
            margin-top: 50px;
            height: 36px;
            border: none;
         }
        .info {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 20px;

        }
    </style>
</head>
<body>
<div style="margin: 0 auto;width: 50%">
    <div class="info"><p>工作已恢复！</p></div>
    <button class="download-button" onclick="window.location.href='/pause'">暂停</button>
    <button class="download-button" onclick="window.location.href='/'">首页</button>
</div>
</body>
</html>